<section class="auth-section">
  <form style="min-width: 300px" (ngSubmit)="authenticate()" [formGroup]="authFormGroup">
    <h3 class="text-center" style="font-size: 25px">Chat App</h3>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input type="email" matInput autofocus formControlName="email" placeholder="E-mail">
      <mat-error *ngIf="authFormGroup.get('email')?.touched && authFormGroup.get('email')?.invalid">{{emailValidation()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="!isLogin">
      <mat-label>Vezetéknév</mat-label>
      <input type="text" matInput  formControlName="firstname" placeholder="Firstname">
      <mat-error *ngIf="authFormGroup.get('firstname')?.touched && authFormGroup.get('firstname')?.invalid">Vezetéknév megadása kötelező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="!isLogin">
      <mat-label>Keresztnév</mat-label>
      <input type="text" matInput  formControlName="lastname" placeholder="Lastname">
      <mat-error *ngIf="authFormGroup.get('lastname')?.touched && authFormGroup.get('lastname')?.invalid">Keresztnév megadása kötelező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Jelszó</mat-label>
      <input type="password" matInput  formControlName="password" placeholder="Jelszó">
      <mat-error *ngIf="authFormGroup.get('password')?.touched && authFormGroup.get('password')?.invalid">{{passwordValidation()}}</mat-error>
    </mat-form-field>

    <button [disabled]="checkDisabled()" mat-raised-button>{{isLogin ? 'Bejelentkezés' : 'Regisztráció'}}</button>
    <button type="button" class="bg-info" mat-raised-button (click)="switchMode()">{{!isLogin ? 'Bejelentkezés' : 'Regisztráció'}}</button>
  </form>
  <hr>
</section>
