.user-section{
  background-color: #626466b8;
  max-height: 500px;
  position: sticky;
  top: 60px;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .user-section {
    display: none;
  }
}
