.add-room{
  background-color: rgb(255 172 0 / 89%);
  padding: 10px;
  border-radius: 5px;
}

.room-name-input{
  min-width: 250px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
mat-hint{
  color: white;
  font-size: 12px;
}
